<div class="top-bar">
  <div class="top-bar-left">
        <ul class="menu">
          <li><img src="./assets/img/mention_legal.png" alt="mention legals">  <a href="#">Mentions Legals</a></li>
          <li><img src="./assets/img/contact.png">  <a href="#">Contact</a></li>
          </ul>

  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><a href="#"><img src="./assets/img/twitter.png" alt="twitter"></a></li>
      <li><a href="#"><img src="./assets/img/fb.png" alt="facebook"></a></li>
      <li><a href="#"><img src="./assets/img/insta.png" alt="instagram"></a></li>
    </ul>
  </div>
</div>
